div {
  border: 3px solid black;
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  padding: 1em;
}

.cha {
  color: purple;
  font-weight: bold;
  background-color: salmon;
}
