

nav{
    display:flex;
    justify-content:space-between;
}
ul{
    display:flex;
}

li{
    list-style:none;
    padding:20px;
    color:grey;
}

button{
    width:180px;
    height:60px;
    border-radius:10px;
    color:white;
    background-color:rgb(37, 145, 134);
}