h1 {
  width: 250px;
  font-size: 35px;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 70, 64);
  color: white;
}

.element {
  width: 500px;
}
.single {
  display: flex;
}

h5 {
  color: rgb(180, 108, 120);
}

.text {
  margin-left: 20px;
}

div i {
  margin-top: 30px;
}
