* {
  box-sizing: border-box;
}

.img {
  width: 5em;
  height: 60px;
}

.img img {
  width: 80%;
  margin-top: 10px;
  height: auto;
}

.contain {
  display: flex;
  box-shadow: 0px 5px 5px grey;
}

.bla {
  margin-right: 20px;
  color: purple;
}
