nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(146, 93, 196);
  color: white;
}

h1 {
  font-size: 25px;
}
ul {
  display: flex;
  font-size: 20px;
}

li {
  list-style: none;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .hide {
    display: none;
  }
}
