#tech {
  display: flex;
}
li {
  padding: 10px;
  list-style: none;
}

#contain {
  display: flex;
  justify-content: space-between;
}

#pic {
  width: 75%;
}

#three {
  display: flex;
  margin-top: 20px;
}

#three div {
  padding: 10px;
}

#bul {
  display: flex;
  font-size: 12px;
}

#container {
  border: 3px solid rgb(16, 93, 145);
}
#bul {
  margin-top: -25px;
  color: grey;
}

#tech li {
  border: 3px solid rgba(16, 93, 145, 0.466);
  border-radius: 10px;
  padding: 5px;
  color: rgb(16, 93, 145);
}
