* {
  box-sizing: border-box;
}

.root {
  --col: rgb(230, 129, 230);
}

#action {
  margin: auto;
}

input {
  width: 100px;
}
.container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.element {
  width: 300px;
  height: 440px;
}

#boton {
  background-color: rgb(230, 129, 230);
}
#purple {
  background-color: rgb(230, 129, 230);
  color: white;
}
.btn {
  width: 75%;
  border: 3px solid grey;
  background-color: white;
  font-size: 15px;
  height: 40px;
}

h1 {
  font-size: 50px;
}
