section {
  display: flex;
  justify-content: center;
  align-content: center;
}

section img {
  width: 80%;
  margin-top: 2em;
}

button {
  margin-top: 2em;
  height: 4em;
  padding: 0.5em;
  background-color: black;
  color: white;
  border-radius: 10px;
}

h2 {
  color: crimson;
  font-size: 1em;
}
@media screen and (max-width: 400px) {
  section {
    flex-direction: column;
    margin-top: 4em;
    margin-left: 3em;
    text-align: center;
  }

  h2 {
    font-size: 1.5em;
  }
}
