$first-color: purple;

@mixin bla {
  font-size: 2rem;

  text-decoration: underline;
}

#textCont {
  width: 20rem;
  border: 4px solid $first-color;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#image {
  display: block;
  width: 500px;
}
#container img {
  width: 50%;
}

#container:hover {
  #textCont {
    opacity: 1;
    border: 3px solid green;
  }
}

h1 {
  @include bla;
}

#container {
  position: relative;
  width: 80%;
  height: 50%;
  margin: 0 auto;

  h1 {
    color: $first-color;
  }
  p {
    font-size: 1.5rem;
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }
}
