* {
  box-sizing: border-box;
}

#main {
  width: 100%;
  height: 100%;
}

#main img {
  height: 50%;
}
#modal {
  height: 300px;
  width: 600px;
  text-align: center;
  position: relative;
  top: -3350px;
  background-color: white;
  left: 500px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

button {
  background-color: rgb(30, 100, 128);
  color: white;
  font-size: 20px;
  border-radius: 8px;
  height: 50px;
  padding: 5px;
}

#container {
  position: absolute;
}

#otherModal {
  height: 300px;
  width: 600px;
  text-align: center;
  border: 5px solid red;
}

h3 {
  font-size: 50px;
}
.hidden {
  display: none;
}

#ii {
  color: red;
  float: right;
}
