section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
div {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  grid-gap: 0;
}

@media screen and (max-width: 600px) {
  .lol {
    display: flex;
    flex-direction: column;
    color: red;
  }
}
