.overlay:hover,
.overlay:active {
  opacity: 1;
  background-color: white;
  color: #302e2e;
}

.conim {
  width: 300px;
  height: auto;
  border: 3px solid orange;
}

.proj {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;

  width: 50%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.4s;
}

.element {
  width: 500px;
  height: 200px;

  position: relative;
}
