section {
  display: flex;
}
.images {
  width: 20em;
}

.images img {
  width: 75%;
}

.images img:hover {
  width: 100%;
  z-index: 1;
}

h1 {
  color: palegreen;
  text-align: center;
  animation-name: random;
  animation-duration: 3s;
}

@keyframes random {
  from {
    font-size: 30px;
  }
  to {
    font-size: 50px;
    z-index: 1;
    color: darkred;
  }
}

body {
  background-color: darkgray;
}
