

nav{
    display:flex;
    justify-content:space-between;
}
ul{
    display:flex;
}

li{
    list-style:none;
    padding:20px;
    color:grey;
}

button{
    width:180px;
    height:60px;
    border-radius:10px;
    color:white;
    background-color:rgb(37, 145, 134);
}

#coffeeImage{
    position:absolute;
   width:1500px;
   margin-left:150px;
    border:3px solid indianred;
    height:300px;
}


div{
    margin-top:30px;
    margin-left:30px;
}
#coffee{
    width:100%;
}

p {
    position:relative;
    font-size:30px;
    bottom:550px;
    color:white;
    
}